# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
.pytest_cache/
.mypy_cache/

# Virtualenv
.venv/
venv/
env/

# Local env/logs
.env
bot.log
bot.err.log

# Build
build/
dist/
*.egg-info/

# IDE
.idea/
.vscode/

# OS
.DS_Store
Thumbs.db
